<footer aria-label="Site Footer" class="bg-gray-200">
  <div
    class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 lg:pt-24"
  >
    <div class="lg:flex lg:items-end lg:justify-between">
      <div>
        <div class="flex justify-center lg:justify-start">
          <%= link_to "chanson", root_path, class: "font-extrabold text-3xl text-indigo-600 hover:text-indigo-800" %>
        </div>

        <p
          class="mx-auto mt-6 max-w-md text-center leading-relaxed text-gray-500 lg:text-left"
        >
        chanceon is an online audio distribution platform and music sharing website that enables its users to upload, play and download songs. 
        </p>
      </div>

      <nav aria-label="Footer Nav" class="mt-12 lg:mt-0">
        <ul
          class="flex flex-wrap justify-center gap-6 md:gap-8 lg:justify-end lg:gap-12"
        >
          <li>
            <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
              About
            </a>
          </li>

          <li>
            <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
              Discover
            </a>
          </li>

          <li>
            <a class="text-gray-700 transition hover:text-gray-700/75" href="/">
              Github
            </a>
          </li>
        </ul>
      </nav>
    </div>

    <p class="mt-12 text-center text-sm text-gray-500 lg:text-right">
      Copyright &copy; 2022. Developed for educational purposes.
    </p>
  </div>
</footer>
